<p style="color: green"><%= notice %></p>

<h1>Products</h1>
	<div id="products">
	  <% @products.each do |product| %>
		<p>
		  <strong>Name:</strong>
		  <%= product.name %>
		</p>
		<p>
		  <strong>Categories:</strong>
		  <%= product.categories.name %>
		</p>
		<p>
		  <strong>Price:</strong>
		  <%= product.price %>
		</p>
		<p>
		  <%= link_to "Show this product", product %>
		</p>
	  <% end %>
	</div>
<%= link_to "New product", new_product_path %>
